@model IEnumerable<PROnline.Models.Users.Volunteer>
@using PROnline.Models.Users;

@{
    ViewBag.Title = "志愿者列表";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="datatable" >
<thead>
    <tr>
        <th>
            职务
        </th>
        <th>
            用户名
        </th>
        <th>
            真实姓名
        </th>
        <th>
            性别
        </th>
        <th>
            移动电话
        </th>
        <th>
            操作
        </th>
    </tr>
</thead>
<tfoot><tr><td colspan="3"><div class="navbar"></div></td></tr></tfoot>
<tbody>
@foreach (var item in Model) {
    if (item.User.isDeleted == false)
    {
    <tr>
        <td>
            @{
                if (item.User.UserTypeId == UserType.TEAM_LEADER)
                {
                    <span>小组长</span>
                }
                else
                {
                    <span>志愿者</span>
                }    
            }
        </td>
        <td>
            <!--Html.ActionLink(item.User.UserName, "Details", new { id = item.VolunteerID, type = "show" })-->
            @Html.ActionLink(item.User.RealName, "UserInfo", "Users", new { id = item.UserID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileTelephone)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.VolunteerID }) |
            
            @Html.ActionLink("删除", "Delete", new { id = item.VolunteerID })
        </td>
    </tr>
    }
}

</tbody>
</table>
@Tools.table(@ViewBag, "datatable", "/Volunteer/Index")
