@model PROnline.Models.WorkStations.WorkStation

<script src="@Url.Content("~/Scripts/mapapi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/wbox.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/wbox/wbox.css")" rel="stylesheet" type="text/css" />

<fieldset>
    <div class="display-label">
        工作站名称
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkStationName)
    </div>

    <div class="display-label">       
        站长名称
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkStationerName)
    </div>

    <div class="display-label">
        联系方式
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>
</fieldset>

<p class="btn">
    <a class="wBox_close" href="javascript:void(0);">关闭</a>
</p>

