@model PROnline.Models.Teams.TeamMember

@{
    ViewBag.Title = "确认操作";
    Layout = "~/Views/Shared/Space/_Detail.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.TeamMemberID)

    <div class="display-label">状态</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>
    
    <div class="display-label">姓名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Volunteer.User.RealName)
    </div>
        <p class="btn">
            <input type="submit" value="确认" /> | <a href="@Request.UrlReferrer">返回</a>
        </p>
    </fieldset>
}

<!--div>
    @Html.ActionLink("返回", "MyTeam","Team")
</div-->
