@model PROnline.Models.Activities.Activity

@{
    ViewBag.Title = "删除活动";
    Layout = "~/Views/Shared/Manage/_Detail.cshtml";
}

<fieldset>

    <div class="display-label">主题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityName)
    </div>

    <div class="display-label">开始日期</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityStartDate)
    </div>

    <div class="display-label">地点</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityAddr)
    </div>

    <div class="display-label">活动安排</div>
    <div class="display-field">
        @Html.Raw(Model.ActivityArrangement)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p class="btn">
        <input type="submit" value="确定" /> |
        @Html.ActionLink("返回", "MyActivityList")
    </p>
}
