@model IEnumerable<PROnline.Models.Service.StudentFeedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Student
        </th>
        <th>
            PairAppointment
        </th>
        <th>
            Results
        </th>
        <th>
            Feelings
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.User.RealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PairAppointment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Results)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feelings)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentFeedbackID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentFeedbackID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentFeedbackID })
        </td>
    </tr>
}

</table>
