@model PROnline.Models.Trainings.TrainingSupervisor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TrainingSupervisor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrainingID, "Training")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TrainingID", String.Empty)
            @Html.ValidationMessageFor(model => model.TrainingID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolunteerID, "Volunteer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VolunteerID", String.Empty)
            @Html.ValidationMessageFor(model => model.VolunteerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAttend)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAttend)
            @Html.ValidationMessageFor(model => model.IsAttend)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
