@model IEnumerable<PROnline.Models.Trainings.TrainingSupervisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Training
        </th>
        <th>
            Volunteer
        </th>
        <th>
            IsAttend
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Training.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.PoliticalExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAttend)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainingSupervisorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainingSupervisorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainingSupervisorID })
        </td>
    </tr>
}

</table>
