@model PROnline.Models.Users.Donator
@{
    ViewBag.Title = "修改个人信息";
    Layout = "~/Views/Shared/Space/_Edit.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.DonatorID)
        <input type="hidden" name="FirtPassword" value="DCDFESFD" />
        <input type="hidden" name="ConfirmPassword" value="DCDFESFD" />
        <div class="editor-label">
            @Html.LabelFor(model => model.User.RealName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.RealName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Sex)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Sex", new SelectList(new List<String> { "男", "女" }))
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            <script type="text/javascript">
                $("#Birthday").attr("readonly", "readonly")
            </script>
            @Tools.DateBox("Birthday")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMail)
            @Html.ValidationMessageFor(model => model.EMail)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MobileTelephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileTelephone)
            @Html.ValidationMessageFor(model => model.MobileTelephone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QQ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QQ)
            @Html.ValidationMessageFor(model => model.QQ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.isHaveExperience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isHaveExperience)
            @Html.ValidationMessageFor(model => model.isHaveExperience)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Occupation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Occupation)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Connection)
        </div>
        <div class="editor-field">
            @if (Model.Connection.IndexOf("电话") != -1)
            {
                <input type="checkbox" name="Connection" value="电话" checked="checked" /><span>电话<br />
                </span>
            }

            else
            {
                <input type="checkbox" name="Connection" value="电话" /><span>电话<br />
                </span> 
            }
            @if (Model.Connection.IndexOf("QQ") != -1)
            {
                <input type="checkbox" name="Connection" value="QQ" checked="checked" /><span>QQ<br />
                </span>
            }
            else
            {
                <input type="checkbox" name="Connection" value="QQ" /><span>QQ<br />
                </span> 
            }
            @if (Model.Connection.IndexOf("邮箱") != -1)
            {
                <input type="checkbox" name="Connection" value="邮箱" checked="checked" /><span>邮箱<br />
                </span>
            }
            else
            {
                <input type="checkbox" name="Connection" value="邮箱" /><span>邮箱<br />
                </span> 
            }
            @if (Model.Connection.IndexOf("面谈") != -1)
            {
                <input type="checkbox" name="Connection" value="面谈" checked="checked" /><span>面谈<br />
                </span>
            }
            else
            {
                <input type="checkbox" name="Connection" value="面谈" /><span>面谈<br />
                </span> 
            }
            @if (Model.Connection.IndexOf("其他") != -1)
            {
                <input type="checkbox" name="Connection" value="其他" checked="checked" /><span>其他<br />
                </span>
                <input type="text" id="ConnectionWay" name="ConnectionWay" value="请输入您的联系方式" />
                @Html.ValidationMessage("ConnectionError")<br />
            }
            else
            {
                <input type="checkbox" name="Connection" value="其他" /><span>其他<br />
                </span> 
                <input type="text" id="ConnectionWay" name="ConnectionWay" value="请输入您的联系方式" />
                @Html.ValidationMessage("ConnectionError")<br />
                }
        </div>
        <p class="btn">
            <input type="submit" value="保存" />| 
                @Html.ActionLink("返回", "Details", "Users")
        </p>
    </fieldset>
}

