@model PROnline.Models.Resources.ResourceType

@{
    ViewBag.Title = "资源类型编辑";
    Layout = "~/Views/Shared/Space/_Edit.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ResourceType</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeName)
        </div>
        <div class="editor-field p50">
            @Html.EditorFor(model => model.TypeName)
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Introduction)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Introduction)
            @Html.ValidationMessageFor(model => model.Introduction)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p class="btn">
            <input type="submit" value="保存" />|<a href="@Request.UrlReferrer">返回列表</a>
        </p>
    </fieldset>
}