@model PROnline.Models.Users.Password

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/Space/_Edit.cshtml";
}



@using (Html.BeginForm("ChangePassword","Users"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.oldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.oldPassword)
            @Html.ValidationMessageFor(model => model.oldPassword)
        </div>
      
        <div class="editor-label">
            @Html.LabelFor(model => model.Pass)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Pass)
            @Html.ValidationMessageFor(model => model.Pass)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RePass)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.RePass)
            @Html.ValidationMessageFor(model => model.RePass)
        </div>
        
        <p class="btn">
            <input type="submit" value="保存" />|@Html.ActionLink("返回", "Details", "Users")
        </p> 
      
     </fieldset>   
}
