@model PROnline.Models.Users.School
@using PROnline.Models.Users;
@using PROnline.Models.Service;
@using PROnline.Controllers.Service;

@{
    ViewBag.Title = "服务配对列表";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

@section head{
    <script src="@Url.Content("~/Content/tips.js")" type="text/javascript"></script>
}

<!--传回学校ID-->
@using (Html.BeginForm("SchoolNavigation","Pair",FormMethod.Get)) {
    @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.SchoolName)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SchoolID", ViewBag.SchoolDropDownList as SelectList)
            <input type="submit" value="选择学校" />
        </div>
    }

 <table id="datatable" >
  <thead>
    <tr>
        <th>
            学生
        </th>
        <th>
            配对状态
        </th>
        <th>
            配对详情
        </th>           
        <th>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    <!--列出学校、班主任、学生-->
@if (Model != null)
{
    List<Student> pList = ViewBag.pairList as List<Student>;
    List<Student> allstuList = ViewBag.allstudentlist as List<Student>;
 
        foreach (var student in allstuList as List<Student>)
        {
            if (!pList.Contains(student))
            {
            <tr>
                <td>
                @Html.ActionLink(student.User.RealName, "forfudaoDetails", "Student", new { id = student.StudentID }, null) 
                </td>           
                <td>未配对</td>
                <td></td>
                <td>
                 @Html.ActionLink("配对", "Create", "Pair", new { StudentID = student.StudentID }, null) 

                </td>
            </tr>
            }
        }



    foreach (var student in allstuList as List<Student>)
        {
            if (pList.Contains(student))
            {
            <tr>
                 <td>
                @Html.ActionLink(student.User.RealName, "Details", "Student", new { id = student.StudentID }, new { target = "_blank" }) 
                </td>
                <td>已配对</td>
                @foreach(var p in student.PairList as List<Pairs>){
                    if(p.State!="解除"){
                        <td>
                            @Html.ActionLink("配对详情", "Details", new { id = p.PairsID, SchoolID = student.SchoolID})
                        </td>
                        <td>               
                            @Html.ActionLink("解除配对", "CeasePairCause", "Pair", new { id = p.PairsID, SchoolID = student.SchoolID }, null) 
                        </td>
                    }
                }
                
            </tr>
            }
        }
}
</tbody>
</table>
@Tools.table("datatable")

