@model IEnumerable<PROnline.Models.Resources.Resource>

@{
    ViewBag.Title = "资源审核";
    Layout = "~/Views/Shared/Space/_List.cshtml";
}

<table id="table">
<thead>
    <tr>
        <th>
            标题
        </th>

        <th style="width:100px">
            审核状态
        </th>

        <th style="width:100px">
            发布日期
        </th>

        <th style="width:130px">操作</th>
    </tr>
</thead>
<tfoot><tr><td colspan="5"><div class="navbar"></div></td></tr></tfoot>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.VerifyState.Note)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>

        <td>
       @Html.ActionLink("通过", "Details", new { id = item.ResourceID, status = 'Y', verify="true" }) 
       | 
       @Html.ActionLink("不通过", "Details", new { id = item.ResourceID, status = 'N', verify = "true" })
        </td>
    </tr>
}
</tbody>
</table>
@Tools.table(ViewBag, "table", "/Resources/Verify")
