@model PROnline.Models.Assessments.AssessmentOption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AssessmentOption</legend>

    <div class="display-label">OptionTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionTitle)
    </div>

    <div class="display-label">OptionValue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionValue)
    </div>

    <div class="display-label">CreatorID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatorID)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">ModifierID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifierID)
    </div>

    <div class="display-label">ModifyDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifyDate)
    </div>

    <div class="display-label">isDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AssessmentOptionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
